<div id="container">
  <div class="leftbox">
    <div class="focusable"></div>
    <div class="focusable"></div>
    <div class="focusable"></div>
    <div class="focusable"></div>
    <div class="nonfocusable"></div>
  </div>
  <div class="rightbox">
    <div id="main" class="focusable"></div>
    <div class="bottombox">
      <div class="focusable"></div>
      <div class="focusable"></div>
      <div class="focusable"></div><br>
      <div class="focusable"></div>
      <div class="focusable"></div>
      <div class="focusable"></div>
    </div>
  </div>
</div>
<div style="background-color: aquamarine; width: 400px; height: 200px;">
  <button class="focusable" (click)="goToThird()">Go to third page</button>
</div>
